// A place for common settings that get reused
// They are defined here, but not actually used here
// e.g. Colours, padding, margin, etc

$main-blue: rgb(38, 41, 233);
$faint-blue: rgba(63, 65, 216, 0.8);
$main-white-font: rgb(255, 255, 255);
$light-grey-background: rgb(240, 240, 240); 
$header-height: 70px;
$button-green: rgb(46, 155, 46);
$faint-green: rgb(60, 173, 148);