// A place for common settings that get reused
// They are defined here, but not actually used here
// e.g. Colours, padding, margin, etc

$main-blue: rgb(38, 41, 233);
$main-white-font: rgb(255, 255, 255); 
$header-height: 70px;