.component-featuredListings {
  background-color: $light-grey-background;
  padding-left: 5%;
  padding-right: 5%;
}

.component-featuredListings h2 {
  font-size: 300%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $main-blue;
}
